
@using Microsoft.AspNetCore.Components
@using Proliminal.BlazorTools.Extensions
@using Proliminal.BlazorTools.Interop
@inject IJSRuntime jsRuntime

<div class="shadow p-1 mb-5 bg-light rounded">

    <pre class="pretty bg-light">@((MarkupString)Content)</pre>

</div>


@code {

    [Parameter]
    public string Code {get;set;}

    private string Content {get;set;}

    protected override async Task OnParametersSetAsync()
    {
        // format json
        var formattedJson =  await Util.FormatJson(jsRuntime, Code);
        Content = Colorize(Code);
        base.OnParametersSet();
    }

    private string Colorize(string value)
    {
        var lines = Lines(value);
        return string.Join("", lines.Select(l => l.Decorate()).ToArray());
    }

    IEnumerable<String> Lines(String s)
    {
        using (var tr = new System.IO.StringReader(s))
            while (tr.ReadLine() is String L)
                yield return L;
    }
}