.pretty
{
    font-size: 0.8rem;
    line-height: 1rem;
    border: none;
}
pre.pretty{
    margin-bottom: 0;
}

/* Keywords */
.kwd {
    color: #999999; /* Dark grey */
    /*font-weight: bold;*/
}

/* Comments */
.com {
    color: #777777; /* Medium grey */
    font-style: italic;
}

/* Types, preprocessor statements, etc. */
.typ {
    color: #555555; /* Slightly lighter grey */
    font-weight: bold;
}

/* Literals, boolean, etc. */
.lit {
    color: #555555; /* Same as types for a uniform look */
}

/* Punctuation */
.pun {
    color: #999999; /* Light grey */
}

/* Function calls */
.func {
    color: #333333; /* Dark grey, same as keywords */
    font-weight: bold;
}

/* Numeric values */
.num {
    color: #000000; /* Black for contrast */
    font-weight: bold;
}

/* String literals */
.str {
    color: #000000; /* Black, to stand out */
    font-weight: bold;
}

/* General text */
.pln {
    color: #000000; /* Black, unchanged for readability */
}

/* Key names in JSON or field names in KQL */
.key {
    color: #555555; /* Grey, matching types */
    /*font-weight: bold;*/
}

/* Values in JSON (non-string, such as numbers, booleans) */
.val {
    color: #333333; /* Dark grey, matching keywords */
    font-weight: bold;
}




.code {
    position: relative;
}

.copy-code-button {
    color: #99c6d7;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

/*@media screen {
    .str {
        color: #080
    }

    .kwd {
        color: #008
    }

    .com {
        color: #800
    }

    .typ {
        color: #606
    }

    .lit {
        color: #066
    }

    .clo,.opn,.pun {
        color: #660
    }

    .tag {
        color: #008
    }

    .atn {
        color: #606
    }

    .atv {
        color: #080
    }

    .dec,.var {
        color: #606
    }

    .fun {
        color: red
    }
}*/

/*@media print,projection {
    .kwd,.tag,.typ {
        font-weight: 700
    }

    .str {
        color: #060
    }

    .kwd {
        color: #006
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404
    }

    .lit {
        color: #044
    }

    .clo,.opn,.pun {
        color: #440
    }

    .tag {
        color: #006
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}*/

/* pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
} */

/* ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type: none
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #eee
} */
